<html>
    <head>
        <title>Naica Poll</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <style>
        .header {
            background-color: #000000;
            margin-top: 0;
            padding: 20px 20px 20px 40px;
        }
        .header h1{
            color: #ffff;
        }
        .save {
            float: right;
        }
        .poll-form input, .poll-form select {
            width: 100%;
        }
    </style>
    <body>
    <div class="header">
        <h1>Encuestas</h1>
    </div>
    <div class="content container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>